---
interface Props {
  name: string | undefined;
  flagImg: string;
  population: number;
  region: string;
  capital: string | undefined;
  alpha3Code: string | undefined;
}

const { name, flagImg, population, region, capital, alpha3Code } = Astro.props;
---

<a href={`/rest-api-countries/${alpha3Code}`} class="country-card">
  <img src={flagImg} alt={name + " Flag"}/>
  <h2>{name}</h2>
  <div class="country-card-details">
    <p>Population: <span>{population}</span></p>
    <p>Region: <span>{region}</span></p>
    <p>Capital: <span>{capital}</span></p>
  </div>
</a>

<style>
  .country-card {
    background-color: hsl(0, 0%, 100%);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    text-decoration: none;
  }

  .country-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .country-card h2 {
    padding: 1rem;
    font-size: 1.1rem;
  }

  .country-card-details {
    padding: 0rem 1rem 2rem 1rem;
  }

  .country-card p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .country-card span {
    font-weight: 300;
  }
</style>
